<section class="about text-white">
  <div class="container">
    <app-section-header>
      <h2 class="text-center">about component</h2>
    </app-section-header>
    <div class="description row mt-3 g-2">
      <p class="col-md-6  ">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="col-md-6  ">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</section>
